@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Tangerine");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #617E89;
  --secondary-color: #9AC2d2;
  --primary-shadow: #A2A6AD;
  --secondary-shadow: #82635D;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

nav {
  /* remains at the top no matter what (sticky) */
  position: sticky;
  top: 0;
  left: 0;
  /* this makes sure that the nav bar displays over any aother element on the web page  */
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  /* provides shadowing at the bottom of the nav bar  */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
}

.bio {
  text-align: center;
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  /* box-shadow: 0px 2px 15px 2px var(--primary-shadow); */
}

.bio h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin);
  font-size: 66px;
  color: var(--primary-color);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  font-size: 30px;

}

.more-about {
  /* margin-top: 30px;
  background-color: var(--bg-color);
  padding: 1rem 6rem; */
  /* Add the following styles to center the container */
  margin: 2rem auto;
  width: 90%;

  /* width: 25rem; */
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

/* more about me section */
.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: .25rem;
}

.icon {
  width: 12rem;
  height: 12rem;
  margin-right: 1rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

/* project section styling  */

.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

 /* aligning the project within their individual container */
.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}


.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* styling the contact section */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

/* styling the input fields, textarea, labels, and placeholder of the contact section */
.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

/* using the placeholder pseudo-class, to change the the placeholders styling  */
.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

/* styling the submit button */
.submit-btn {
  /* making it the size of the form container */
  width: 100%; 
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

/* turns to primary color when hovering over the submit button */
.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

   nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  /* make the hero section flex direction of column */

  .hero {
    margin-top: 4rem;
    flex-direction: column;
    gap: 0;
  }

  /* reduce the width and height of the image */

  .hero img {
        height: 30rem;
        width: 30rem;
    }

  /* make the bio text readable */

  .bio {
    margin-top: 2rem;
    width: 20.5rem;
  }

  /* move the more about section down a little bit and increase the padding on all sides */

  .more-about {
    /* Adjust the margin and padding as needed for centering on smaller screens */
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
  }

  /* align to the center and justify the text */

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  /* reduce the size of the icons with the width and height properties */
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  /* make the projects stack on top of one another by setting the flex direction to column */
  .projects-container {
    flex-direction: column;
  }

  /* reduce the width of the indiviaul containers a little bit */
  .project-container {
    width: 20.875rem;
  }

  /* set the maximum width of the contact form container */
  .contact-form-container {
    max-width: 23.75rem;
  }


  .journey-list-container {
    /* Adjust the margin and padding as needed for centering on smaller screens */
    margin: 2rem auto;
    padding: 1rem;
    width: 20.875rem;
  }

  .journey-item {
    /* Adjust the margin and padding as needed for centering on smaller screens */
    margin: 2rem auto;
    padding: 1rem;
    width: auto;
  }
  .journey {
    width: auto;
  }



}

/* fixing somethigns on an even smaller screen
 * reduced the size of our image
 * reduced thewidth of the bio text, the project container, and the contact form container */
@media screen and (max-width: 420px) {
  .hero img {
    height: 30rem;
    width: 30rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
  .journey-item {
    /* Adjust the margin and padding as needed for centering on smaller screens */
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
  }
} 


#journey {
  text-align: center; 
  width: auto; 
}


.journey-title {
    background-color: var(--secondary-color);
    padding: 1rem;
    height: 200px;
}
.journey-title h1{
    font-size: 2.4rem;
    margin-top: 2rem;
    text-transform: capitalize;
}
.journey-title p{
    font-weight: 400;
    opacity: 0.7;
    max-width: 500px;
    margin: 0.6rem auto 0 auto;
    line-height: 1.6;
}
.journey-list{
    background-color: var(--secondary-color);
    align-items: center;
}
.journey-list-container{
    width: auto;
    height: auto ; 
    margin: -120px auto 0 auto;
    padding: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.journey-item {
  margin: 1rem;
  /* max-width: 400px; */
  width: auto;
  height: auto;
  background-color: #fff;
  /* makes the edges round */
  border-radius: 1.2rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px 0 rgba(35, 35, 35, 0.2);
  transition: all 0.3s ease-in-out;
  position: relative;

} 





.icon-and-title {
  display: flex;
  align-items: center;
  
}





.journey-item img {
  height: 80px; /* Adjust the height as needed */
  /* margin: 0.4rem; */
}

.journey-content {
  /* text-align: center;
  padding: 1rem;
  align-items: center;
  display: inline;  */

  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.name {
  font-weight: 700;
  font-size: 1.2rem;
  display: block;
  margin-right: 1rem;
}




.journey-item:hover{
    -webkit-box-shadow: 0 0 18px 0 rgba(35, 35, 35, 0.3);
            box-shadow: 0 0 18px 0 rgba(35, 35, 35, 0.3);
}

.content{
    height: 0;
    overflow-y: scroll;
    -webkit-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    margin-bottom: 1rem;
    margin-right: 1rem;
    justify-items: left;
    justify-content: left;
    align-items: left;
}
.content p{
    font-size: 0.95rem;
    line-height: 1.6;
    opacity: 0.9;
    margin: 0.4rem;
    justify-items: left;
    justify-content: left;
    align-items: left;
}
.content::-webkit-scrollbar{
    width: 6px;
}
.content::-webkit-scrollbar-track{
    background: transparent;
}
.content::-webkit-scrollbar-thumb{
    background-color: #e4dada;
    border-radius: 4px;
}
.content-show{
    height: 100px; /*js related*/
}

.collapsible-icon{
    display: block;
    margin-top: 0.4rem;
    margin-left: 5rem; 
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.collapsible-icon:hover{
    color: #bc1823;
}







